:root {
    --small-body: .75rem;
    --medium-body: .875rem;
    --large-body: 1rem;
    --h1: 5rem;
    --h2: 2.5rem;
    --h3: 1.5rem;
}

@font-face {
    font-family: Spline-Sans;
    src: url("../../fonts/SplineSans-Regular.woff2");
}

@font-face {
    font-family: Spline-Sans-Bold;
    src: url("../../fonts/SplineSans-Bold.woff2");
}

@font-face {
    font-family: Spline-Sans-Mono-Regular;
    src: url("../../fonts/SplineSansMono-Regular.ttf");
}

@font-face {
    font-family: Spline-Sans-Mono-Italic;
    src: url("../../fonts/SplineSansMono-Italic.ttf");
}


@font-face {
    font-family: Spline-Sans-Mono-Bold;
    src: url("../../fonts/SplineSansMono-Bold.ttf");
}


@font-face {
    font-family: Spline-Sans-Mono-BoldItalic;
    src: url("../../fonts/SplineSansMono-BoldItalic.ttf");
}


h1 {
    font-family: Spline-Sans;
    font-size: var(--h1);
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    font-family: Spline-Sans;
    font-size: var(--h2);
    text-transform: uppercase;
    font-weight: normal;
}

h3 {
    font-family: Spline-Sans;
    font-size: var(--h3);
    text-transform: uppercase;
    font-weight: normal;
}

.small-body {
    font-family: Spline-Sans-Mono-Regular;
    font-size: var(--small-body);
    line-height: 150%;
    font-weight: normal;
}

.small-body-bold {
    font-family: Spline-Sans-Mono-Bold;
    font-size: var(--small-body);
    line-height: 150%;
    font-weight: bold;
}

.medium-body {
    font-family: Spline-Sans-Mono-Regular;
    font-size: var(--medium-body);
    line-height: 150%;
    font-weight: normal;
}

.large-body {
    font-family: Spline-Sans-Mono-Regular;
    font-size: var(--large-body);
    font-weight: normal;
}