---
//sanity cms
import { useSanityClient } from 'astro-sanity';
import PortableText from '../components/PortableText.astro';
import { urlForImage } from '../sanity/urlForImage.js';

const teamMembers = await useSanityClient().fetch(`*[_type == "teamMembers"] | order(_createdAt asc)`);

const alumni = await useSanityClient().fetch(`*[_type == "alumni"]`);

//component imports
import Layout from '../layouts/Layout.astro';

//style imports
import '../styles/typography.css';
import '../styles/global.css';
---

<Layout
    title="GRAAR | About"
	image="/images/studio-2.webp">
    <main>
        <section>
            <h1>To design by thinking across and beyond boundaries</h1>
            <div>
                <p class="small-body">We are a proudly young and naïve design studio, with an interdisciplinary approach that allows us to work with a wide range of people and a lot of different opportunities.

                Our small practice thrives on creating simple yet thoughtful solutions, through harmonious play between architecture, interiors, graphic design, art, and other disciplines -- with particular emphasis on the play. We like to have fun and we want that to radiate through our work and everything else that we do.
                
                We strive to be multifaceted in the things we do, but we also believe that collaboration both between fields and with our clients themselves, is key to producing the best results. We revel in the process because it creates invaluable experiences that we learn and benefit from.
                
                Every GRAAR project aspires to be unconventional but never intimidating, experimental but not taking itself too seriously; always grounded by the goal of helping everyone understand, and appreciate the language of good and intentional design.
                </p>
                <div>
                    <h3>What We Do</h3>
                    <div>
                        <div class="small-body">
                            <p>Residential</p>
                            <p>Retail</p>
                            <p>Restaurants</p>
                            <p>Offices</p>
                            <p>Hospitality</p>
                            <p>Furniture</p>
                        </div>
                        <div class="small-body">
                            <p>Products</p>
                            <p>Exhibits</p>
                            <p>Installations</p>
                            <p>Space Planning</p>
                            <p>Design Consultation</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
             <div>
                <h2>Graphic + Architecture</h2>
                <h2>= Graar</h2>
             </div>
             <p class="small-body studio-desc">Our studio name is simply a combination of two words that briefly but concisely sum up what we do. It's an onomatopoeia-based word that stays true to our ethos of creating fun stuff from even the simplest of things. It's also the sound Grey, our mascot makes!</p>
        </section>
        <section>
                {teamMembers && <div>
                    {teamMembers.map((teamMembers) => (
                        <div class ="teamMember">
                            <img src={urlForImage(teamMembers.displayPicture).format('webp').url()} alt={teamMembers.alt}>
                            <div>
                                <h3>{teamMembers.name}</h3>
                                <p class="small-body">
                                    <PortableText portableText={teamMembers.introduction}/>
                                </p>
                            </div>
                        </div>
                    ))}
                </div>}
            <div>
                <h3>Alumni</h3>
                {alumni && <p class="small-body">
                    {alumni.map((alumnis) => (
                        <span>{alumnis.alumniMembers}</span>
                    ))}
                </p>
                }
            </div>
        </section>
        <section>
            <img src="/images/studio-1.webp" alt="Studio 1">
            <div><img src="/images/studio-2.webp" alt="Studio 2"></div>
            <div>
                <h2>Contact</h2>
                <div>
                    <a href="mailto:graarph@gmail.com" class="small-body" target="_blank">Email: graarph@gmail.com</a>
                    <a href="https://www.instagram.com/graarph/?hl=en" target="_blank" class="small-body">Instagram: @graarph</a>
                    <p class="small-body">66c San Rafael St, Pasig, Metro Manila</p>
                </div>
            </div>
        </section>
    </main>

</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 160px;
        margin: 56px 0px;

        > section {
            padding: 0 24px;
        }

        > section:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 80px;

            > h1 {
                font-size: var(--h2);
            }

            > div {
                display: flex;
                flex-direction: column;
                gap: 80px;

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    > div {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        > div {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                        }
                    }
                }
            }
        }

        > section:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 32px;
            
            > div {
                > h2:nth-child(1) {
                    font-size: var(--h3);
                }
                > h2:nth-child(2) {
                    font-size: var(--h1);
                }
            }
        }

        > section:nth-child(3) {
            display: flex;
            flex-direction: column;
            gap: 80px;
            align-items: center;

            > div:nth-child(1) {
                display: flex;
                flex-direction: column;
                gap: 80px;
                
                > div {
                    > img {
                        width: 200px;
                        height: 256px;
                    }

                    > div {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                }

                > div:nth-child(odd) {
                    display: flex;
                    flex-direction: row;
                    gap: 24px;  
                }

                > div:nth-child(even) {
                    display: flex;
                    flex-direction: row-reverse;
                    gap: 24px;  
                }
            }

            > div:nth-child(2) {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
            }
        }

        > section:nth-child(4) {
            display: flex;
            flex-direction: column;
            gap: 88px;

            > img:nth-child(1) {
                width: 200px;
            }

            > div:nth-child(2) {
                > img {
                    width: 331px;
                    margin-left: auto;
                }
            }

            > div:nth-child(3) {
                display: flex;
                flex-direction: column;
                gap: 32px;

                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }
            }
        }
    }

    @media (width >= 431px) {
        main {
            > section {
                padding: 0 80px;
            }

            > section:nth-child(1) {
                > h1 {
                    font-size: var(--h1);
                }

                > div {
                    flex-direction: row;
                    gap: 360px;
                    justify-content: space-between;

                    > div > div > div:nth-child(1) {
                        margin-right: 48px;
                    }
                }
            }

            > section:nth-child(2) {
                margin-left: 204px;

                > p {
                    width: 70%;
                }
            }

            > section:nth-child(3) {
                > div:nth-child(1) {
                    flex-direction: row;
                    justify-content: space-between;

                    > div {
                        flex-direction: column !important;
                        width: 20%;

                        > img {
                            height: auto;
                        }
                    }

                    > div:nth-child(even) {
                        margin-top: 80px;
                    }
                }
            }

            > section:nth-child(4) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                > img:nth-child(1) {
                    width: 300px;
                }

                > div:nth-child(2) {
                    > img {
                        width: 405px;
                        margin-left: 0;
                    }
                }   
            }
        }
    }

    
    @media (min-width: 431px) and (max-width: 1044px) {
        main {
            
            > section:nth-child(1) {
                > div {
                    gap: 80px;
                }
            }

            > section:nth-child(3) {
                > div:nth-child(1) {
                    flex-direction: column;
                    justify-content: initial;

                    > div {
                        flex-direction: row !important;
                        width: initial;

                        > img {
                            height: auto;
                        }
                    }

                    > div:nth-child(even) {
                        margin-top: initial;
                        flex-direction: row-reverse !important;
                    }
                }
            }

            > section:nth-child(4) {
                flex-direction: column;
                justify-content: initial;
                align-items: initial;

                > div:nth-child(2) {
                    > img {
                        margin-left: auto;
                    }
                }   
            }
        }
    }
</style>