---
//sanity cms
import { useSanityClient } from 'astro-sanity';
import { urlForImage } from '../sanity/urlForImage.js';

const posts = await useSanityClient().fetch(`*[_type == "post"]{_id, title, slug, headerImage, projectDate}`);

//component imports
import Layout from '../layouts/Layout.astro';

//style imports
import '../styles/typography.css';
import '../styles/global.css';
---

<Layout title="GRAAR">
	<h1>My Sanity Blog with Astro</h1>
	{posts && <div>
		{posts.map((post) => (
			<a href={`post/${post.slug.current}`}>{post.title}</a>
			<img src={urlForImage(post.headerImage).format('webp').url()} alt={post.headerImage.alt}>
			<p>{post.projectDate}</p>
		))}
	</div>}
</Layout>

