---
//style imports
import '../styles/global.css';
import '../styles/typography.css';

//component imports
import Logo from '../components/Logo.astro';
import MenuLink from '../components/MenuLink.astro';
---

<main>
    <section>
        <div>
            <Logo color='white'/>
            <h3>Close</h3>
        </div>
        <div>
            <div>
                <MenuLink href='' number='01' text='About'/>
                <MenuLink href='' number='02' text='Cool New Crap'/>
            </div>
            <div>
                <h3>Contact</h3>
                <p class="small-body">Email: <span><a href="mailto:graarph@gmail.com">graarph@gmail.com</a></span></p>
                <p class="small-body">instagram: <span><a href="https://www.instagram.com/graarph/?hl=en">@graarph</a></span></p>
                <p class="small-body">66c San Rafael St, Pasig, Metro Manila</p>
            </div>
        </div>
    </section>
    <section>
        <img src="/gif/mascot-gif-white.gif" alt="GRAAR Mascot">
        <div>
            <p class="small-body">All Rights Reserved</p>
            <p class="small-body">©2023</p>
        </div>
    </section>
</main>

<style>
    main {
        background-color: black;
        color: white;
        height: 100vh;
        padding: 24px;

        > section:nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 80px;

            > div:nth-child(1) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            > div:nth-child(2) {
                display: flex;
                flex-direction: column;
                gap: 80px;

                > div:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                > div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }
            }
        }

        > section:nth-child(2) {
            > div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
</style>