---
//style imports
import '../styles/global.css';
import '../styles/typography.css';
---

<footer>
    <a href="/"><h3>GRAAR</h3></a>
    <a href=""><h3>About</h3></a>
    <a href="https://www.instagram.com/coolnewcrap/" target="_blank"><h3>Cool New Crap</h3></a>
    <a href="mailto:graarph@gmail.com" target="_blank" class="small-body">graarph@gmail.com</a>
    <a href="https://www.instagram.com/graarph/?hl=en" class="small-body" target="_blank">@graarph</a>
    <p class="small-body">All Rights Reserved</p>
    <p class="small-body">©2023</p>
</footer>

<style>
    footer {
        padding: 80px 24px 24px 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "graar graar"
        "about about"
        "cnc cnc"
        "email insta"
        "rights year";

        > a:nth-child(1) {
            grid-area: graar;
            margin-bottom: 8px;
        }

        > a:nth-child(2) {
            grid-area: about;
            margin-bottom: 8px;
        }
        > a:nth-child(3) {
            grid-area: cnc;
            margin-bottom: 32px;
        }
        > a:nth-child(4) {
            grid-area: email;
            margin-bottom: 8px;
        }
        > a:nth-child(5) {
            grid-area: insta;
            justify-self: end;
        }
        > p:nth-of-type(1) {
            grid-area: rights;
        }
        > p:nth-of-type(2) {
            grid-area: year;
            justify-self: end;
        }
    }

    @media (width >= 852px) {
        footer {
            padding: 80px 80px 40px 80px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "graar rights year about email insta cnc";
            
            > a, p {
                align-self: end;
                margin-bottom: 0px !important;
            }
            > a:nth-child(3) {
                text-align: center;
            }
            > a:nth-child(5) {
                justify-self: center;
            }
            > p:nth-of-type(1) {
                text-align: center;
            }
            > p:nth-of-type(2) {
                justify-self: center;
            }
        }
    }
</style>
