---
//style imports
import '../styles/global.css';
import '../styles/typography.css';

//component imports
import Logo from './Logo.astro';
import MenuLink from './MenuLink.astro';
---

<main>
    <section>
        <Logo color='white'/>
        <h3 id="close">Close</h3>
    </section>
    <section>
        <MenuLink href='' number='01' text='About'/>
        <MenuLink href='' number='02' text='Cool New Crap'/>
    </section>
    <section>
        <h3>Contact</h3>
        <a href="mailto:graarph@gmail.com" class="small-body">Email: graarph@gmail.com</a>
        <a href="https://www.instagram.com/graarph/?hl=en" class="small-body">Instagram: @graarph</a>
        <p class="small-body">66c San Rafael St, Pasig, Metro Manila</p>
        <div>
            <p class="small-body">All Rights Reserved</p>
            <p class="small-body">©2023</p>
        </div>
    </section>
    <section>
        <img src="/gif/mascot-gif-white.gif" alt="GRAAR Mascot">
        <div>
            <p class="small-body">All Rights Reserved</p>
            <p class="small-body">©2023</p>
        </div>
    </section>
</main>

<style>
    main {
        background-color: black;
        color: white;
        padding: 24px;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav"
        "links"
        "contact"
        "gif";

        > section {
            height: fit-content;
        }

        > section:nth-child(1) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            align-items: center;
            grid-area: nav;
        }

        > section:nth-child(2) {
            display: flex;
            flex-direction: column;
            gap: 24px;
            grid-area: links;
        }

        > section:nth-child(3) {
            display: flex;
            flex-direction: column;
            gap: 16px;
            grid-area: contact;

            > a {
                color: white;
            }

            > div {
                display: none;
            }
        }

        > section:nth-child(4) {
            grid-area: gif;

            > img {
                margin-bottom: 10px;
            }

            > div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

        }
    }

    @media (width >= 900px) {
        main {
            padding: 40px 80px 64px 80px;
            height: 90vh;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "nav nav"
            "links links"
            "gif contact";
            
            > section:nth-child(1), section:nth-child(3) {
                > h3 {
                    font-size: var(--h2);
                }
            }

            > section:nth-child(3) {
                gap: 24px;
                align-self: end;

                > a, p {
                    font-size: var(--large-body);
                }

                > div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 64px;

                    > p {
                        font-size: var(--small-body); 
                    }
                }
            }

            > section:nth-child(4) {
                align-self: end;

                > img {
                    margin-bottom: 0px;
                    width: 450px;
                }

                > div {
                    display: none;
                }
            }  
        }
    }
</style>