---
//sanity cms
import { sanityPortableText } from '../sanity/portableText'
const { portableText } = Astro.props;

//style imports
import '../styles/global.css'
import '../styles/typography.css'
---

<div >
    <Fragment set:html={sanityPortableText(portableText)} />
</div>

<style>
    div {
        font-family: Spline-Sans-Mono-Regular;
        font-size: var(--small-body);
        line-height: 150%;
        font-weight: normal;   
    }
</style>