---
// component imports
import Slide from "./Slide.astro";
---

<div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <Slide 
            number='01'
            name="S.A.D. Stool"
            subheading="(straight ass design)"
            cost={["Graphite/White --- 5,000", "Raw Ply --- 4,000"]}
            image = '/images/SAD Stool.webp'
            imageAlt = 'S.A.D. Stool'
            imageMobileWidth = '149px'
            imageTabletWidth = '287px'
            imageDesktopWidth="293px"
        />
      </div>
      <div class="swiper-slide">
        <Slide 
            number='02'
            name="L.S.D. Stool"
            subheading="(less straight design)"
            cost={["Graphite/White --- 5,000", "Raw Ply --- 4,000"]}
            image = '/images/LSD Stool.webp'
            imageAlt = 'L.S.D. Stool'
            imageMobileWidth = '149px'
            imageTabletWidth = '287px'
            imageDesktopWidth="293px"
        />
      </div>
      <div class="swiper-slide">
        <Slide 
            number='03'
            name="E.F. Bench"
            subheading="(originally designed for Everything's Fine)"
            cost={["Graphite/White --- 7,000"]}
            image = '/images/EF Bench.webp'
            imageAlt = 'E.F. Bench'
            imageMobileWidth = '185px'
            imageTabletWidth = '359px'
            imageDesktopWidth="366px"
        />
      </div>
      <div class="swiper-slide">
        <Slide 
            number='04'
            name="E.F. Table"
            subheading="(originally designed for Everything's Fine)"
            cost={["Graphite/White --- 22,000"]}
            image = '/images/EF Table.webp'
            imageAlt = 'E.F. Table'
            imageMobileWidth = '228px'
            imageTabletWidth = '442px'
            imageDesktopWidth="450px"
        />
      </div>
      <div class="swiper-slide">
        <Slide 
            number='05'
            name="E.F. Mobile Bookcase"
            subheading="(originally designed for Everything's Fine)"
            cost={["Graphite/White --- 30,000"]}
            image = '/images/EF Bookcase.webp'
            imageAlt = 'E.F. Bookcase'
            imageMobileWidth = '228px'
            imageTabletWidth = '442px'
            imageDesktopWidth="450px"
        />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <img src="/icons/arrow--left.svg" alt="" class="swiper-button-prev">
    <img src="/icons/arrow--right.svg" alt="" class="swiper-button-next">
  </div>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script is:inline src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <script>
    // @ts-nocheck
    const swiper = new Swiper('.swiper', {
        speed: 400,
        loop:true,
        grabCursor:true,
        pagination: {
            el: '.swiper-pagination'
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        centeredSlides: true
    });
  </script>

  <style>
    :root {
        --swiper-pagination-color: #293F27;
        --swiper-pagination-bottom: 16px;
        --swiper-navigation-sides-offset: 24px;

        @media (width >= 768px) {
            --swiper-pagination-bottom: 32px;
        }

        @media (width >= 1280px) {
            --swiper-pagination-bottom: 32px;
        }
    }
    
    .swiper {
        width: 100%;

        > .swiper-wrapper {

            >.swiper-slide {
                
            }
        }
    }

    .swiper-button-prev, .swiper-button-next {
        width: 24px !important;

        @media (width >= 768px) {
            width: 64px !important;
        }
    }
  </style>