---
//component imports
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import Menu from '../components/Menu.astro';
import Preloader from '../components/Preloader.astro';

// Props
interface Props {
	title: string;
}

const { 
	title
} = Astro.props as Props;

//style imports
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Preloader/>
		<Nav/>
		<Menu />
		<slot />
		<Footer />
	</body>
</html>

<style>
	body, html {
		height: 100%;
  		width: 100%;
  		margin: 0;
	}
</style>

<script>
	const closeMenu = document.getElementById('closeMenu');
	const openMenu = document.getElementById('openMenu')

	closeMenu.addEventListener('click', function() {
		const menu = document.getElementById('navMenu');
		menu.style.left = '2000px';
		menu.style.opacity = '0';
	});

	openMenu.addEventListener('click', function () {
		const menu = document.getElementById('navMenu');
		menu.style.left = '0px';
		menu.style.opacity = '1';
	});
</script>

