---
//component imports
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import Menu from '../components/Menu.astro';
import Preloader from '../components/Preloader.astro';
import { SEO } from 'astro-seo';

// Props
interface Props {
	title: string;
	image: string;
}

const { 
	title,
	image
} = Astro.props as Props;

//style imports
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO
			title={title}
			description="GRAAR is a Manila-based interdisciplinary design studio that creates playful and thoughtful design solutions with architecture, interiors, graphics, art, and more."
      	openGraph={{
			basic: {
				title: title,
				type: "Portfolio",
				image: image
			}
		}}
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Preloader/>
		<Nav/>
		<Menu />
		<slot />
		<Footer />
	</body>
</html>

<style>
	body, html {
		height: 100%;
  		width: 100%;
  		margin: 0;
	}
</style>

<script>
	const closeMenu = document.getElementById('closeMenu');
	const openMenu = document.getElementById('openMenu')
	const menu = document.getElementById('navMenu');
	const pageBody = document.body;

	closeMenu.addEventListener('click', function() {
		menu.style.left = '2000px';
		menu.style.opacity = '0';
		pageBody.style.overflow = 'visible';
	});

	openMenu.addEventListener('click', function () {
		menu.style.left = '0px';
		menu.style.opacity = '1';
		pageBody.style.overflow = 'hidden';
	});
</script>

